{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row justify-content-center mb-3 pb-3 mt-5">
		<div class="col-md-12 heading-section text-center ftco-animate">
			<h2 class="mb-4">Our Collections</h2>
			<p>Discover quality mobiles, fresh groceries and stylish clothing-all in one convenient places</p>
		</div>
	</div>
</div>

<section class="ftco-section ftco-category ftco-no-pt">
	<div class="container">
		<div class="row">

			{% for i in categories %}
			<div class="col-md-4"> 
				<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
					style="background-image: url({{ i.image.url }});">
					<div class="text px-3 py-1">
						<h2 class="mb-0"><a href="{% url 'shop:products' i.id %}">{{ i.name }}</a></h2>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>
{% endblock %}