{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_5.jpg' %});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="index.html"></a>
                    </span>
                </p>
                <h1 class="mb-0 bread">Search Results</h1>
                <h4 class="text-white mt-2">{{ category.name }}</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        {% for i in products %}
        <div class="col-md-6 col-lg-3 mt-4">
            <div class="product h-100 d-flex flex-column">

                
                <a href="{% url 'shop:productdetail' i.id %}" 
                   class="img-prod d-block overflow-hidden" 
                   style="height:250px;">
                   
                    <img src="{{ i.image.url }}" 
                         class="w-100 h-100" 
                         style="object-fit: cover;" 
                         alt="Product Image">

                    <div class="overlay"></div>
                </a>

                
                <div class="text py-3 px-3 text-center flex-grow-1 d-flex flex-column justify-content-between">
                    
                    <div>
                        <h5>
                            <a href="{% url 'shop:productdetail' i.id %}">
                                {{ i.name }}
                            </a>
                        </h5>

                        <div class="pricing">
                            <p class="price">
                                <span class="price-sale">₹ {{ i.price }}</span>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center mt-5">
            <h5>No products found</h5>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}